body {
    background-color: lightblue;
}

.container {

margin-top: 1em;
margin-bottom: 1em;

}

.center {
    text-align: center;
    display: block;
    margin: auto;
}

.cards {
    display: flex;
    
    max-width: 20em;
    border-radius: 10px;
    
}
.card{
    border-radius: 10px;
    background-color: #034077;
    color: aliceblue;
    text-align: justify;
}