body {
    background-color: lightblue;
}

.container {

    margin-top: 1em;
    margin-bottom: 1em;

}

.center {
    text-align: center;
    display: block;
    margin: auto;
    
    margin-bottom: 1em;
}

.cards {
    display: flex;
    max-width: 30em;
    border-radius: 10px;


}

.card {
    border-style: solid;
    border-width: thick;
    border-color: black;
    border-radius: 5px;
    background-color: #034077;
    color: aliceblue;
    text-align: justify;
    padding: 1em;
}

#homeHeader {
    padding-top: 1em;
}
