body {
    background-color: #E6E6E6;
    font-family: 'Roboto';
    color: #343741;
}

.navbar {
    background-color: #FFD000;
}
.container {

    margin-top: 1em;
    margin-bottom: 1em;

}

.center {
    text-align: center;
    display: block;
    margin: auto;
    
    margin-bottom: 1em;
}
.btn{
    background-color: #99E5EA;
    color: #1A1446;
    
}
.cards {
    display: flex;
    max-width: 30em;
    border-radius: 10px;


}

.card {
    border-style: solid;
    border-width: thick;
    border-color: black;
    border-radius: 5px;
    background-color: #034077;
    color: aliceblue;
    text-align: justify;
    padding: 1em;
}

#homeHeader {
    padding-top: 1em;
}

hr.solid {
    border-color: #C0BFC0;
    border: 1px;
}

.gg-cloud {
    box-sizing: border-box;
    
    transform: scale(var(--ggs,1));
    width: 8px;
    height: 2px;
    background: currentColor;
    margin-bottom: -20px;
    color:#343741;
}
